<div id="slideover-container" class="w-full h-full fixed inset-0 invisible overflow-auto">
	<div id="slideover-bg" class="overflow-auto w-full h-full duration-500 ease-out transition-all inset-0 absolute bg-gray-900 opacity-0"></div>
	<div id="slideover" class="overflow-auto w-4/5 bg-gray-100 h-full absolute right-0 duration-300 ease-out transition-all translate-x-full">
		<div class="overflow-auto absolute text-gray-600 top-0 w-full h-full flex items-center justify-start right-0">
			<div class="overflow-auto flex w-full h-full justify-center flex-col">
				<div class="overflow-auto container mx-auto px-4 py-8 min-h-full pt-5">
					<div class="flex flex-col md:flex-row md:justify-between md:items-center">
						<h1 class="text-2xl font-bold my-4">Carrinho</h1>
						<svg id="cart-bt-x" class="w-10 h-10 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
					</div>
					<form action="" method="" name="cart" id="form-cart-sell">
						<div class="mt-4 mb-32" id="product-cart"></div>
						<div class="w-full flex flex-col absolute bottom-0 p-5 items-stretch justify-between">
							<div class="flex justify-start items-center mt-8">
								<span class="text-gray-600 mr-4">Subtotal:</span>
								<span class="text-xl font-bold mr-4" id="cart-value-total">R$ 0.00</span>
								<span class="text-gray-600 mr-4">Total de Impostos:</span>
								<span class="text-xl font-bold mr-4" id="cart-tax-total">R$ 0.00</span>
								<span class="text-gray-600 mr-4">Valor Final:</span>
								<span class="text-xl font-bold mr-4" id="cart-end-values-total">R$ 0.00</span>
							</div>
							<button type="submit" class="bg-gray-600 hover:bg-gray-950 text-gray-100 font-bold py-2 px-4 rounded mr-5">
								  Finalizar Compra
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
  </div>