<header>
	<nav class="border-gray-200 bg-gray-800 w-100">
		<div class="flex justify-between w-100 mx-auto max-w-screen-xl">
			<div class="flex justify-start w-2/4
			hover:bg-gray-600 active:bg-gray-950 focus:outline-none focus:ring">
				<a href="{{URL}}/store" class="text-gray-300 bg-primary-700 w-full p-6 text-center py-8
				font-black rounded-lg px-5 mr-2 bg-primary-600 
				hover:bg-primary-70 focus:ring-primary-800 m-1">
					Loja
				</a>
			</div>
			<div class="flex justify-start w-2/4
			hover:bg-gray-600 active:bg-gray-950 focus:outline-none focus:ring">
				<a href="{{URL}}/sells-list" class="text-gray-300 bg-primary-700 w-full p-6 text-center py-8
				font-black rounded-lg px-5 mr-2 bg-primary-600 
				hover:bg-primary-70 focus:ring-primary-800 m-1">
					Lista de Vendas
				</a>
			</div>
		</div>
	</nav>
</header>
