<header>
	<!-- <a href="{{URL}}">teste</a> -->
	<button type="button" id="target">teste</button>
	<nav class="border-gray-200 bg-gray-800 w-100">
		<div class="flex justify-between w-100">
			<div class="flex justify-start w-2/4
			hover:bg-gray-600 active:bg-black focus:outline-none focus:ring">
				<a href="{{URL}}/store" class="text-white bg-primary-700 w-full p-6 text-start py-8
				font-medium rounded-lg px-5 mr-2 dark:bg-primary-600 
				dark:hover:bg-primary-70 dark:focus:ring-primary-800 m-1">
					Loja
				</a>
			</div>
			<div class="flex justify-start w-2/4
			hover:bg-gray-600 active:bg-black focus:outline-none focus:ring">
				<a href="{{URL}}/sells_list" class="text-white bg-primary-700 w-full p-6 text-end py-8
				font-medium rounded-lg px-5 mr-2 dark:bg-primary-600 
				dark:hover:bg-primary-70 dark:focus:ring-primary-800 m-1">
					Lista de Vendas
				</a>
			</div>
		</div>
	</nav>
</header>
