<tbody>
	<tr class=" bg-gray-800 border-b border-gray-700">
		<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-gray-50">
			{{product_sell_name}}
		</th>
		<td class="px-6 py-4">
			RS {{product_sell_value}}
		</td>
		<td class="px-6 py-4">
			{{product_sell_type_name}}
		</td>
		<td class="px-6 py-4">
			RS {{product_sell_tax_value}}
		</td>
		<td class="px-6 py-4">
			{{product_sell_tax}} %
		</td>
		<td class="px-6 py-4">
			RS {{product_sell_end_value}}
		</td>
	</tr>
</tbody>
