<section class="bg-gray-900 min-h-80-screen">
	<button id="cart-bt" type="button" class="bg-gray-600 cursor-pointer text-gray-100 
	fixed right-0 duration-500 ease-out transition-all top-15
	hover:bg-gray-950 rounded  focus:ring-4 focus:outline-none focus:ring-gray-300 
	font-medium text-sm px-5 py-2.5 text-center inline-flex items-center me-2">
		<span id="cart-bt-text" class="hidden">
			Carrinho
		</span>
		<svg class="w-3.5 h-3.5 m-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
			<path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
		</svg>
		<span id="cart-counter"></span>
	</button>
	<input id="counter" type="hidden" name="counter" value="0">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 h-fit">
		<h2 class="mb-8 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-100 md:text-4xl">
			Produtos
		</h2>
		<div class="sm:gap-12 text-gray-400 w-fit mx-auto 
		grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
			{{products}}

			<div class="w-72 shadow-md rounded-xl duration-200 hover:scale-105 hover:shadow-xl border-8 border-gray-400 bg-gray-500 border-dashed flex cursor-pointer">
				<a href="#" class="modal-open w-full h-full flex items-center justify-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				</svg>
				</a>
			</div>
		</div>
	</div>
</section>
<button type="button" id="product_cart_exclude_bt_0" data-cart-item-id="product_cart_0" 
class=" bg-red-500 cursor-pointer text-gray-100 absolute right-0 
hover:bg-red-900 rounded  focus:ring-4 focus:outline-none focus:ring-gray-300 
font-medium text-sm p-1 text-center inline-flex items-center me-5">
	<svg class="w-3.5 h-3.5 m-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 18 21">
		<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
		<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
	</svg>
</button>
{{cart}}
{{products_add_modal}}
