<section class="bg-gray-900">
	<button id="cart-bt" class="bg-gray-600 cursor-pointer px-5 py-2 text-sm text-white hover:bg-black rounded">
		Toggle Slide-over
	</button>
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 h-screen">
		<h2 class="mb-8 text-3xl font-extrabold tracking-tight leading-tight text-center text-white md:text-4xl">
			Loja
		</h2>
		<div class="sm:gap-12 md:grid-cols-3 lg:grid-cols-6 text-gray-400 flex justify-center">
			{{products}}
		</div>
	</div>
</section>
{{cart}}